streamlit==1.30.0
streamlit-webrtc==0.44.7
av==10.0.0
numpy==1.24.3
requests==2.31.0
pydub==0.25.1
sentencepiece==0.1.99
soundfile==0.12.1
streamlit-audiorecorder==0.0.1
ffmpeg-python==0.2.0
SpeechRecognition==3.8.1
python-dotenv==1.0.0
aiortc==1.5.0
aioice==0.9.0
pycrypto==2.6.1
